body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #3498db, #2ecc71);;
  }

  #game-container {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-image: url('background.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .mouse {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }

  #score {
    position: relative;
    font-size: 18px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #2980b9;
  }

  .score-container {
    display: flex;
    margin-top: 15px;
    margin-left: 45%;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title-container {
    display: block;
    text-align: center;
    margin-top: 20px;
  }